/* misc */

body {
    background-color: #f0d775;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: "Lobster", serif;
    padding-bottom: 5px;
}


/*classes*/

.h1-border {
    border-bottom: 4px solid white;
    margin-left: 7em;
    margin-right: 7em;
}


/*ids*/