/* misc */

body {
    background-color: #f0d775;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: "Lobster", serif;
    padding-bottom: 5px;
}

footer {
    margin-top: 2em;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    background-color: #ac7339;
    overflow: hidden;
}


/*classes*/

.h1-border {
    border-bottom: 4px solid white;
    margin-left: 7em;
    margin-right: 7em;
}

.home-p {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 25px;
}

.head-image {
    width: 450px;
    height: 400px;
}

.flex-container {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.flex-container div {
    box-sizing: border-box;
    padding-left: 7em;
    width: 50em;
    margin-top: 1em;
    margin-left: 2em;
    flex: 1 0 auto;
}


/*ids*/

#home-div {
    box-sizing: border-box;
    margin-left: 32em;
    margin-right: 32em;
    text-align: center;
    background-color: #f7cca1;
    border: 25px solid #5e3308;
}


/*links*/

a:link,
a:visited,
a:active {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black
}

a:hover {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: grey
}